* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  line-height: 1.64;
}

.Animation {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 500px;
  background-color: #768294;
}
.Animation-word {
  color: #fc6d6d;
  font-size: 60px;
  font-weight: 400;
  position: relative;
}
.wrapper-bg {
  display: inline-flex;
  width: 500px;
}
.wrapper-bg .static-text {
  color: #ffffff;
  font-size: 60px;
  text-align: start;
  font-weight: 400;
  margin-right: 20px;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
}
.logo-img {
  padding: 10px;
  max-width: 110px;
  max-height: 100px;
}
.drop-button {
  height: 80px;
  width: 110px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 5%;
  background-color: #222222;
  text-align: center;
}

.glyphicon-chevron-down {
  color: #ffffff;
  font-size: 30px;
  padding-right: 2px;
  padding-top: 35px;
  animation-name: wiggle;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes wiggle {
  0% {
    transform: translate(0, -35%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -35%);
  }
}

.profile-img {
  width: 100%;
  max-width: 246px;
  border-radius: 50%;
  height: auto;
}

.container {
  background-color: #c8d0d6;
  max-width: 1280px;
}
@media (min-width: 768px) {
  .container {
    width: 760px;
    padding: 40px 30px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    padding: 40px 180px;
  }
}
@media (max-width: 768px) {
  .container {
    text-align: center;
    padding: 60px 20px;
    min-width: 280px;
  }
}

.col-md-4 {
  margin-bottom: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 54px;
  text-align: center;
  color: #22a39f;
}
h2 {
  margin-bottom: 15px;
}
h3 {
  font-size: 28px;
  font-weight: 300;
  color: #22a39f;
  margin-bottom: 30px;
}

.lead {
  text-align: center;
  color: #727878;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}

hr {
  margin: 40px 0px;
  border-color: #727878;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.no-bullets {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.ability-title {
  display: inline-block;
  width: 60%;
}
.ability-score {
  float: right;
}
.ability-score .glyphicon.filled {
  color: #22a39f;
}

li {
  min-height: 30px;
  padding: 3px 0px;
}
li:hover {
  animation: moveLeft 2s infinite;
}
@keyframes moveLeft {
  0% {
    margin-right: 0;
  }
  50% {
    margin-right: 15px;
  }
  100% {
    margin-left: 0;
  }
}
